<div class="container content">
    <div class="row">
         <div class="col-md-6">
         	Hola A todos bienvenidos
         </div>
           <div class="col-md-6">
           	Hola solo Hola
           </div>
    </div>
</div>


